<%- include('header') -%>

<h2>Contact with us if you have any problems!!!</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat accusamus saepe est. Accusamus non ducimus velit eos pariatur id, voluptatum iure cumque! Consequatur omnis totam ipsam quibusdam quo repellat dolor?</p>
<%- include('footer') -%>